/* import font
font-family: 'Poppins',
sans-serif;
font-family: 'Rubik',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

/* reset format css */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik',
        sans-serif;
}

.container {
    width: 100%;

}

/* navbar */
nav {
    padding: 75px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>span {
    display: flex;
    align-items: center;
}

nav>span>p {
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
}

nav .nav__link a {
    text-decoration: none;
    margin-right: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

nav .nav__utility a {
    text-decoration: none;
    margin-right: 34px;
}

nav .nav__utility a img {
    width: 30px;
    height: 30px;
}

nav .nav__utility a {
    position: relative;
}

/* circle message */
#message_number p {
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
    color: #fff;
    padding: 5px;
}

#message_number {
    border-radius: 50%;
    background: #6A4029;
    position: absolute;
    bottom: 25px;
    left: -10px;
}

nav .nav__utility a .img_userprofile {
    border-radius: 50%;
    border: 3px solid #6A4029;
    object-fit: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
}

/* content profile */
.content__bar {
    margin-top: 50px;
    background-image: url('../img/main/img_bg_profiles.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 1184px;
    width: 100%;
    opacity: 0.9;
    padding: 0 150px;
}

.content__bar>h1 {
    padding-top: 60px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #FFFFFF;
    text-shadow: 0px 6px 8px rgba(255, 255, 255, 0.26);
}

/* user profile */
.user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    padding: 25px 0;
    border-bottom: 12px solid #6A4029;
    margin-right: 25px;
}

.user__img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.user__img>img {
    margin: 0 auto;
    width: 112px;
    height: 120px;
    border-radius: 50%;
}

.user__profile input {
    display: none;
}

.user__profile img:last-child {
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 35px;
    height: 35px;
}

.user__profile h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-top: 5px;
}

.user__profile .user__email,
#order {
    margin-top: -10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #4F5665;
}

#order {
    margin-top: 24px;
    font-size: 14px;
}

/* user contact */
.content__contact {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.user__contact {
    width: 70%;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
    border-bottom: 12px solid #6A4029;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #4F5665;
}

.input__contact {
    display: flex;
    align-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #9F9F9F;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.user__contact .input__contact label {
    width: 300px;
}

.user__contact .input__contact input {
    border: none;
    width: 300px;
    margin-right: 35px;
    margin-top: 5px;
    border-bottom: 1px solid #000000;
    height: 35px;
}

/* user_detail dan username */
.user__detail_bar {
    width: 100%;
    margin-top: 10%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.user__detail {
    width: 70%;
    height: 50%;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    padding: 30px;
    border-bottom: #6A4029 12px solid;
}

.user__name {
    display: flex;
    align-content: center;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.input__name {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.input__column {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.input__column label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    color: #9F9F9F;
}

.input__column input {
    font-size: 16px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000000;
    text-decoration: none;
}


.birthday[type="date"]::-webkit-inner-spin-button,
.birthday[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.input__radio {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input__radio input[type="radio"] {
    height: 30px;
    width: 30px;
    accent-color: #FFBA33;
    margin-right: 10px;
    border: 1px solid #6A4029;
}

.user__utility {
    margin-left: 50px;
    width: 50%;
}

.user__utility h3 {
    margin-bottom: 25px;
    font-family: 'Poppins';
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 6px 9px rgba(255, 255, 255, 0.21);
}

.btn_utility {
    border: none;
    border-radius: 20px;
    width: 100%;
    background: #fff;
    height: 60px;
    margin-bottom: 25px;
}

.user__utility span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.user__utility span a {
    text-decoration: none;
}

.edit a {
    color: #6A4029;
}

.logout a,
.edit a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #6A4029;
}

.save,
.cancel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
    background: #6A4029;
}

.cancel {
    background: #FFBA33;
    color: #6A4029;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    padding: 7% 5% 5% 10%;
}

.foot_left_desc span {
    display: flex;
    align-items: center;
}

.foot_left_desc .foot_about {
    width: 340px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 25px;
}

.foot_created {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.foot-left-desc span>h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 15px;
}

.foot_left_icon {
    margin-left: -20px;
    margin-top: 20px;
}

.footbar {
    display: flex;
}

.foot_right {
    display: flex;
}

.foot_right_link {
    margin-right: 50px;
}

.foot_right .product {
    margin-right: 100px;
}

.foot_right_link ul li {
    list-style: none;
    margin-top: 20px;
    margin-right: 25px;
}

.foot_right_link ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

/* animation */