<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <title>Bujank Coffee</title>
</head>

<body>
    <main class="container">
        <header>
            <nav>
                <span><img src="../assets/img/main/logo_coffee.png" alt="icon_coffee">
                    <p>Bujank Coffee</p>
                </span>
                <div class="nav__link">
                    <a href="">Home</a>
                    <a href="">Product</a>
                    <a href="">Your Cart</a>
                    <a href="">History</a>
                </div>
                <div class="nav__utility">
                    <a href=""><img src="../assets/img/product/icon_search.png" alt="icon_search"></a>
                    <a href=""><img src="../assets/img/product/icon_message.png" alt="icon_message"><span
                            id="message_number">
                            <p>1</p>
                        </span></a>
                    <a href=""><img class="img_userprofile" src="../assets/img/product/img_userprofile.png"
                            alt="img_profile"></a>
                </div>
            </nav>
        </header>

        <section class="content__bar">
            <h1>User Profile</h1>
            <div class="content__profile">
                <div class="content__contact">
                    <section class="user__profile">
                        <div class="user__img">
                            <img src="../assets/img/main/img_zulaika.png" alt="img_userprofile">
                            <label for="files" id="lable_file">
                                <img src="../assets/img/product/icon_editpencil.png" alt="icon_edit">
                            </label>
                            <input type="file" name="file" class="hidden" id="files">
                        </div>
                        <h3>Zulaikha</h3>
                        <p class="user__email">zulaikha17@gmail.com</p>
                        <p id="order">Has been ordered 15 products</p>
                    </section>
                    <section class="user__contact">
                        <div class="contact">
                            <h2>Contacts</h2>
                            <img src="../assets/img/product/icon_editpencil.png" alt="icon_edit">
                        </div>
                        <div class="input__contact">
                            <div class="column">
                                <label for="email">Email adress :</label>
                                <input type="email" name="email" id="email" value="zulaikha17@gmail.com">
                            </div>
                            <div class="column">
                                <label for="phones">Mobile number :</label>
                                <input type="tel" name="phones" id="phones" value="(+62)813456782">
                            </div>
                        </div>
                        <div class="input__contact column">
                            <label for="deliv_address">Delivery adress :</label>
                            <input type="text" name="deliv_address" id="deliv_address"
                                value="Iskandar Street no. 67 Block A Near Bus Stop">
                        </div>
                    </section>
                </div>
                <section class="user__detail_bar">
                    <div class="user__detail">
                        <div class="detail">
                            <h2>Details</h2>
                            <img src="../assets/img/product/icon_editpencil.png" alt="icon_change">
                        </div>
                        <div class="user__name">
                            <div class="input__name">
                                <div class="input__column">
                                    <label for="displayname">Display name :</label>
                                    <input type="text" name="displayname" id="displayname" value="Zulaikha">
                                </div>
                                <div class="input__column">
                                    <label for="first">First name :</label>
                                    <input type="text" name="first" id="first" value="Zulaikha">
                                </div>
                                <div class="input__column">
                                    <label for="last">Last name :</label>
                                    <input type="text" name="last" id="last" value="Nirmala">
                                </div>
                            </div>
                            <div class="input__column">
                                <label for="birthday">DD/MM/YYYY :</label>
                                <input class="birthday" type="date" name="birthday" id="birthday" value="1990-03-04">
                                <div class="input__radio">
                                    <input type="radio" name="gender" id="male">
                                    <label for="male">Male</label>
                                </div>
                                <div class="input__radio">
                                    <input type="radio" name="gender" id="female" checked>
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user__utility">
                        <h3>Do you want to save the change?</h3>
                        <button class="btn_utility save" type="submit">Save Change</button>
                        <button class="btn_utility cancel" type="reset">Cancel</button>
                        <span class="btn_utility edit"><a href="#">Edit Password</a><img
                                src="../assets/img/main/icon_arrow.png" alt="icon_arrow"></span>
                        <span class="btn_utility logout"><a href="#">Log out</a><img
                                src="../assets/img/main/icon_arrow.png" alt="icon_arrow"></span>
                    </div>
            </div>

        </section>
    </main>
    <footer>
        <aside class="foot_left">
            <div class="foot_left_desc">
                <span>
                    <img src="../assets/img/main/logo_coffee.png" alt="icon_coffee" style="margin-right: 15px;">
                    <h4>Bujank Coffee</h4>
                </span>
                <p class="foot_about">Coffee Shop is a store that sells some good meals, and especially coffee. We
                    provide high
                    quality
                    beans</p>
                <div class="foot_left_icon">
                    <a href="#facebook"><img src="../assets/img/main/icon_fb.png" alt="icon_facebook"></a>
                    <a href="#twitter"><img src="../assets/img/main/icon_twitter.png" alt="icon_twitter"></a>
                    <a href="#instagram"><img src="../assets/img/main/icon_ig.png" alt="icon_instagram"></a>
                </div>
                <p class="foot_created">©2022 BujankCoffee☕</p>
            </div>
        </aside>
        <aside class="foot_right">
            <div class="foot_right_link product">
                <h4>Product</h4>
                <ul>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Countries</a></li>
                </ul>
            </div>
            <div class="foot_right_link engange">
                <h4>Engage</h4>
                <ul>
                    <li><a href="#">Coffe Shop ?</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </aside>
    </footer>
</body>

</html>