<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/signup.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <aside class="left">
            <img src="../assets/img/signup_login/img_signup.png" alt="img_signup" />
        </aside>
        <aside class="right">
            <form method="post" class="form_bar">
                <div>
                    <span><img src="../assets/img/main/logo_coffee.png" alt="" srcset="">
                        <p>Coffee Shop</p>
                    </span>
                    <p>Sign Up</p>
                </div>
                <div>
                    <label for="email">Email Address :</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div>
                    <label for="password">Password :</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <label for="tel">Phone Number :</label>
                    <input type="tel" name="tel" id="tel" />
                </div>
                <button type="submit">Sign Up</button>
                <button type="submit">
                    <span><img src="../assets/img/signup_login/icon_googlesignup.png" alt="" srcset="" /></span>
                    Sign up with Google
                </button>
                <div>
                    <span></span>
                    <p>Already have an account?</p>
                    <span></span>
                </div>
                <a href="">Login Here</a>
            </form>
            <footer>
                <aside class="foot-left">
                    <img src="../assets/img/" alt="">
                    <div>
                        <span><img src="../assets/img/main/logo_coffee.png" alt="icon_coffee">
                            <h4>Coffee Shop</h4>
                        </span>
                        <p>Coffee Shop is a store that sells some good meals, and especially coffee. We provide high
                            quality
                            beans</p>
                        <p>©2020CoffeeStore</p>
                    </div>
                </aside>
                <aside class="foot-right">
                    <div>
                        <h4>Product</h4>
                        <ul>
                            <li><a href="">Download</a></li>
                            <li><a href="">Locations</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="">Countries</a></li>
                            </ol>
                    </div>
                    <div>
                        <h4>Engage</h4>
                        <ul>
                            <li><a href="">Coffe Shop ?</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            </ol>
                    </div>
                </aside>
            </footer>
        </aside>
    </div>
</body>

</html>