<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/signup.css">
    <title>Sign Up</title>
</head>

<body>
    <main class="container">
        <aside class="left">
            <img src="../assets/img/signup_login/img_signup.png" alt="img_signup" />
        </aside>
        <aside class="right">
            <div class="navbar">
                <span class="nav__logo"><img src="../assets/img/main/logo_coffee.png" alt="icon_coffee">
                    <p>Bujank Coffee</p>
                </span>
                <a class="btn login" href="../view/login.html"><span>Login</span></a>
            </div>
            <form method="post" class="form_bar">
                <div class="inputbar">
                    <h1>Sign Up</h1>
                    <div class="input">
                        <label for="email">Email Address :</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email adress" required />
                    </div>
                    <div class="input">
                        <label for="password">Password :</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password"
                            required />
                    </div>
                    <div class="input">
                        <label for="tel">Phone Number :</label>
                        <input type="tel" name="tel" id="tel" placeholder="Enter your phone number" required />
                    </div>
                    <button class="btn sign" type="submit">Login</button>
                    <a href="#" class="btn google" type="submit">
                        <span><img src="../assets/img/signup_login/icon_googlesignup.png" alt="icon_google" />Sign up
                            with Google</span>
                    </a>
                </div>
            </form>
        </aside>
        <section class="card_banner">
            <div>
                <h2>Get your member card now!</h2>
                <p>Let's join with our member and enjoy the deals.</p>
            </div>
            <a class="btn" href="#">Create Now</a>
        </section>
    </main>
    <footer>
        <aside class="foot_left">
            <div class="foot_left_desc">
                <span>
                    <img src="../assets/img/main/logo_coffee.png" alt="icon_coffee" style="margin-right: 15px;">
                    <h4>Bujank Coffee</h4>
                </span>
                <p class="foot_about">Coffee Shop is a store that sells some good meals, and especially coffee. We
                    provide high
                    quality
                    beans</p>
                <div class="foot_left_icon">
                    <a href="#facebook"><img src="../assets/img/main/icon_fb.png" alt="icon_facebook"></a>
                    <a href="#twitter"><img src="../assets/img/main/icon_twitter.png" alt="icon_twitter"></a>
                    <a href="#instagram"><img src="../assets/img/main/icon_ig.png" alt="icon_instagram"></a>
                </div>
                <p class="foot_created">©2022 BujankCoffee☕</p>
            </div>
        </aside>
        <aside class="foot_right">
            <div class="foot_right_link product">
                <h4>Product</h4>
                <ul>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Locations</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Countries</a></li>
                </ul>
            </div>
            <div class="foot_right_link">
                <h4>Engage</h4>
                <ul>
                    <li><a href="#">Coffe Shop ?</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </aside>
    </footer>
</body>

</html>